<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>name.erickson.grant.NAS and Sonos Sync</string>
		<key>LimitLoadToSessionType</key>
		<string>Aqua</string>
        <key>Program</key>
        <string>/Users/me/bin/nas-sonos-itunes-sync</string>
        <key>ProgramArguments</key>
        <array>
        	<string>/Users/me/bin/nas-sonos-itunes-sync</string>
        	<string>/Users/me</string>
        	<string>afp://me@nas.local/My Music</string>
        	<string>/Volumes/My Music</string>
		</array>
		<key>StartCalendarInterval</key>
		<dict>
			<key>Hour</key> 
			<integer>3</integer> 
			<key>Minute</key> 
			<integer>0</integer> 
		</dict>
    </dict>
</plist>
